<% include ../public/includes/header.ejs %>
<div class="registration-container h-100 p-3">
    <div class="main-logo text-center w-100">
        <h1 class="text-light display-4 text-center">
            Skip the Line
        </h1>
    </div>
    <br />
    <form id="entry-signup" class="form-inline">
        <div class="input-group mb-5">
            <input id="studentID" type="number" max="99999999" min="100000" class="form-control" placeholder="Student ID" aria-label="studentID" aria-describedy="signup-button" name="studentID">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" id="signup-button">Sign Up!</button>
            </div>
        </div>
    </form>

</div>
<script src="js/homepage.js"></script>
<% include ../public/includes/footer.ejs %>
