<% include ../public/includes/header.ejs %>
<div class="signup-form-container h-100 p-3">
    <form class="signup-form needs-validation" novalidate>
        <h1 class="display-5 text-light text-center">
            Sign Up
        </h1>
        <br />
        <div class="form-group">
            <label for="name-input" class="text-light">Name</label>
            <input type="text" class="form-control" id="name-input" aria-describedby="studentIDHelp" placeholder="eg. Johnny Appleseed" autocomplete="name" required>
        </div>
        <div class="form-group">
            <label for="email-input" class="text-light">Email address</label>
            <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="eg. johnny.appleseed@example.com" autocomplete="email" required>
        </div>
        <div class="form-group">
            <label for="studentID" class="text-light">Student ID</label>
            <input type="number" min="100000" max="99999999" class="form-control" id="studentID" aria-describedby="studentIDHelp" placeholder="6 to 8 digit ID" name="studentID" required>
        </div>
        <div class="form-group">
            <label for="password" class="text-light">Password</label>
            <input type="password" class="form-control" id="password" placeholder="6 - 20 digits" autocomplete="current-password" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label text-light" for="rememberMe">Remember me</label>
        </div>
        <div class="submit-button-container">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<script src="/js/signup.js"></script>
<% include ../public/includes/footer.ejs %>
