html, body {
    overflow-x: hidden;
    max-width: 100%;
    /* background-color: black; */
    /* margin: 2% 5% 2% 5%; */
}

.top-nav {
    background: #50434388 !important;
    max-width: none;
}

.top-nav a {
    font-size: 1rem;
}

#main-title {
    font-size: 1.75rem;
}

#content {
    height: 100vh;
}

#entry-signup {
    display: none;
}

.registration-container {
    padding-top: 80% !important;
}

.bg-dark-gradient {
    background-image: radial-gradient(circle, #333b, #222b);
    /* background-image: radial-gradient(circle, #333, #222); */
}
