<script src="/bubbly-bg.js"></script>
<script>
    bubbly({
        colorStart: "#333",
        colorStop: "#222",
        shadowColor: "#ddd",
        bubbles: 10
    });
</script>
</div>
<!-- Custom JS -->
<script src="js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
