<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Skip the Line</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <!-- <link rel="stylesheet" href="animate.min.css"> -->
        <script src="https://kit.fontawesome.com/e9db385aec.js"></script>
        <script src="/js/jquery.min.js"></script>
    </head>

    <body>
        <nav class="top-nav fixed-top nav p-1 text-light container mx-0" <% if(path == '/') { %> style="display:none" <% } %>>
            <div class="row w-100">
                <div class="col-8 py-1 pl-1 pr-0 d-flex align-items-center">
                    <a id="main-title" class="nav-link p-1 text-center text-light w-100" href="/">Skip the Line</a>
                </div>
                <div class="col-4 py-1 pr-1 pl-0">
                    <a class="nav-link p-1 text-light text-center" href="/login"><i class="fas fa-sign-in-alt"></i>&nbspLogin</a>
                    <a class="nav-link p-1 text-light text-center" href="/signup"><i class="fas fa-user-plus"></i>&nbspSign Up</a>
                </div>
            </div>
        </nav>
        <div id="content" class="bg-dark-gradient">
            <!-- main content -->